<footer class="footer-2 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="script">Thank's for visiting my site!</h2>
                <p>{{ site.description | markdownify }}</p>
                <p class="small">Copyright &copy; 2015 - {{site.author}}. All Rights Reserved.</p>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h3 class="script">Find me!</h3>
                <ul class="list-inline">
                    <li>
                        <a href="#" class="btn btn-social-light btn-facebook"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-social-light btn-twitter"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-social-light btn-dribbble"><i class="fa fa-fw fa-dribbble"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-social-light btn-google-plus"><i class="fa fa-fw fa-google-plus"></i></a>
                    </li>
                </ul>
                <br>
                <address>
                    <strong>My Address</strong>
                    <br>Edit this in 795
                    <br>_includes/footer.html
                    <br>
                </address>
            </div>
        </div>
    </div>
</footer>
